<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Капиbbbара</title>
    <link rel="icon" type="image/x-icon" href="/static/capibara_transparent.svg">
    <link rel="stylesheet" href="/static/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-wrapper">
        <div class="container">
            <div id="title">
                <span><img class="logo" id="logo" src="/static/capibbbara.png"></span>
                <span class="logo_text">
                    <span class="logo_k"><b>К</b></span>
                    <b>апи</b>
                    <span class="logo_bbb"><i><b>bbb</b></i></span>
                    <b>ара</b>
                </span>
            </div>
            <div class="search-box">
                <input type="text" id="urlInput" placeholder="https://bbb.ssau.ru/b/xxx-xxx-xxx">
                <button id="searchButton">Найти комнату лекции</button>
            </div>
            <div id="response"></div>
        </div>
    </div>
    <div class="lections_container">
        <section id="tableSection" class="hidden"></section>
    </div>
    <div class="overlay" id="overlay">
        <div style="display: flex; flex-wrap: wrap; width: 60%; height: 50%; justify-content: center; align-items: center; text-align: center;">
            <img class="spinner" src="https://cdna.artstation.com/p/assets/images/images/047/774/418/original/camila-brugnoli-carpincho.gif?1648418619">
            <span>Капибарсим...</span>
        </div>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>
